.AddUsr {
    input {
        width: 300px;
        padding: 15px;
    }
    button {
        padding: 10px;
    }
}

.ModifyUsr {
    input {
        width: 300px;
        padding: 15px;
    }
    button {
        padding: 10px;
    }
}